
						  <div  class="col-md-6">
	  <form class="form-horizontal" method="post" action="" id="addcatgform">
						
						<div class="form-group">
							<label for="name" class="cols-sm-2 control-label">Name</label>
							<div class="cols-sm-3">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
									<input type="text" class="form-control" name="name" id="name"  placeholder="Enter Category"/>
								</div>
							</div>
						</div>

						
						<div class="form-group ">
							<button type="button" id="" class="btn btn-primary addcatg catg-button">Add Category</button>
						</div>
					</form>
					</div>
						<br /><br />
					</div>
		  		</div>
		  	</div>
     <table class="table table-bordered">

  </table>  
  </div>
  </div>